<!DOCTYPE html>
<html lang="ko" layout:decorate="~{layout/layout}">
<div style="height: auto; border: 1px dashed; margin: 10px; padding: 10px;" layout:fragment="content">
    <table>
        <tr>
            <td>보낸사람</td>
            <td style="width: 300px; text-align: center;">내용</td>
            <td>발신일</td>
            <td>수신일</td>
        </tr>
        <tr th:each="message : ${messageList}">
            <td th:text="${message.sender.userName}">수신자 이름</td>
            <td th:text="${message.content}" style="text-overflow:ellipsis; overflow:hidden;">쪽지 내용</td>
            <td th:text="${message.sendDate}">송신일</td>
            <td th:text="${message.receiveDate}">수신일</td>
        </tr>
    </table>
</div>
</html>