<h1>ROOM LIST 화면</h1>
<h2> !!!Hello LLR Project!!!</h2>

<table>
    <thead>
    <tr>
        <th>방이름</th>
        <th>방장</th>
<!--        <th>현재인원</th>-->
        <th>방생성일자</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="room : ${roomList}">
        <td>
            <a th:href="@{|/room/detail/${room.roomId}|}" th:text="${room.roomName}"></a>
        </td>
        <td th:text="${room.ownerId}"></td>
<!--        <td th:text="${#lists.size(room.roomJoinList)}"></td>-->
        <td th:text="${room.regDate}"></td>
    </tr>
    </tbody>
</table>