<h1>ROOM 상세화면</h1>

<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
<div class="container my-3">

    <h3 th:text="${room.roomName}"></h3>
    <h4 th:text="|방장 : ${room.ownerId}|"></h4>
        <div class="card-text" style="white-space: pre-line;" th:text="|현재 ${#lists.size(room.roomJoinList)}명의 참여자가 있습니다.|"></div>
        <div>
            <ul>
                <li th:each="roomJoin : ${room.roomJoinList}"
                    th:text="${roomJoin?.activeName}"></li>
            </ul>
        </div>
    <button class="btn btn-primary my-2" th:onclick="|location.href='@{|/room/${room.roomId}/join|}'|">참여하기</button>

</div>
