<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/card_style.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar_style.css">
    <link rel="stylesheet" type="text/css" href="/css/img_slider_style.css">
    <link rel="stylesheet" type="text/css" href="/css/search_style.css">
    <link rel="stylesheet" type="text/css" href="/css/room_create_style.css">

</head>

<body>
<!--네비게이션바-->
<div class="navbar" th:replace="navbar :: navbar"></div>

<div class="container" style="width: 800px; height: 540px;">
    <div class="title">Room Creation</div>
    <div class="content">
        <form th:action="@{|/room/create|}" th:object="${roomCreateForm}" method="post" enctype="multipart/form-data">
            <div th:replace="~{form_errors :: formErrorsFragment}"></div>

            <div class="user-details">
                <div class="input-box">
                    <span for="ownerId" class="details">방장 아이디</span>
                    <input type="text" placeholder="Enter your Id" required th:field="*{ownerId}">
                </div>

                <div class="input-box">
                    <span for="roomName" class="details">방 이름</span>
                    <input type="text" placeholder="Enter your RoomName" required th:field="*{roomName}">
                </div>

                <div class="input-box">
                    <span for="userSize" class="details">방 정원</span>
                    <input type="number" placeholder="Enter your UserSize" required th:field="*{userSize}">
                </div>

                <div class="input-box">
                    <span for="roomCode" class="details">방 입장코드</span>
                    <input type="text" placeholder="Enter your RoomCode" required th:field="*{roomCode}">
                </div>

            </div>

            <div class="input-box">
                <span for="roomTag" class="form-label">방 태그</span>
                <input class="form-control" style="width: 100%; border-bottom-width: 2px; margin-bottom: 17px;" type="text" placeholder="Enter your RoomTag" required th:field="*{roomTag}">
            </div>

            <div class="gender-details">
                <div class="mb-3">
                    <label for="coverPhoto" class="form-label">방 커버화면</label>
                    <input style="border-bottom-width: 2px;" type="file" th:field="*{coverPhoto}" class="form-control">
                </div>
            </div>

            <div class="button">
                <input type="submit" value="Register">
            </div>

        </form>
    </div>
</div>
<!--<div>-->
<!--    <form th:action="@{|/room/create|}" th:object="${roomCreateForm}" method="post" enctype="multipart/form-data">-->
<!--        <div th:replace="~{form_errors :: formErrorsFragment}"></div>-->
<!--        <div class="mb-3">-->
<!--            <label for="ownerId" class="form-label">아이디</label>-->
<!--            <input type="text" th:field="*{ownerId}" class="form-control">-->
<!--        </div>-->
<!--        <div class="mb-3">-->
<!--            <label for="roomName" class="form-label">방 이름</label>-->
<!--            <input type="text" th:field="*{roomName}" class="form-control">-->
<!--        </div>-->
<!--        <div class="mb-3">-->
<!--            <label for="userSize" class="form-label">방 정원</label>-->
<!--            <input type="number" th:field="*{userSize}" class="form-control">-->
<!--        </div>-->
<!--        <div class="mb-3">-->
<!--            <label for="roomCode" class="form-label">방 입장코드</label>-->
<!--            <input type="text" th:field="*{roomCode}" class="form-control">-->
<!--        </div>-->
<!--        <div class="mb-3">-->
<!--            <label for="roomTag" class="form-label">방 태그</label>-->
<!--            <input type="text" th:field="*{roomTag}" class="form-control">-->
<!--        </div>-->
<!--        &lt;!&ndash; 이미지 파일 업로드 요소 추가 &ndash;&gt;-->
<!--        <div class="mb-3">-->
<!--            <label for="coverPhoto" class="form-label">사진</label>-->
<!--            <input type="file" th:field="*{coverPhoto}" class="form-control">-->
<!--        </div>-->
<!--        <button type="submit" class="btn btn-primary">등록</button>-->
<!--    </form>-->
<!--</div>-->

</body>
</html>