<!DOCTYPE html>
<html lang="ko" layout:decorate="~{layout/layout}">
<meta charset="UTF-8">
????????????????????
<div layout:fragment="content" class="slider">
  <div class="slide">
    <img src="/images/20230314/611426935487700.jpg" alt="Image 1">
    <div class="text-overlay">
      <h2>원하는 방을 검색해보세요</h2>
      <p>😺자투리 시간을 커뮤니티에 사용하세요😸</p>
    </div>
  </div>
  <div class="slide">
    <img src="/images/20230314/611426935487700.jpg" alt="Image 2">
    <div class="text-overlay">
      <h2>원하는 방을 만들어보세요</h2>
      <p>🐱누구나, 무엇이든, 언제든 가능해요😼</p>
    </div>
  </div>
  <div class="slide">
    <img src="/images/20230314/611426935487700.jpg" alt="Image 3">
    <div class="text-overlay">
      <h2>함께할 친구를 만나보세요</h2>
      <p>😻새로운 친구들과 함께 만들어나가세요😽</p>
    </div>
  </div>
</div>
</html>
